.content {
    padding: 80px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0px 80px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.heading h1 {
    font-size: 60px;
}

.heading p {
    font-size: 20px;
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 3.2rem;
    width: 100%;
    justify-content: center;
}

input {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #090b0f;
    border-radius: 5px;
    outline: 1px solid #292f39;
    color: white;
}

.element,
.deadline {
    width: 45%;
}

.levelProject {
    display: flex;
    text-align: center;
    font-size: 80%;
    background-color: #090b0f;
    outline: 2px solid #292f39;
    border-radius: 5px;
}

.level-radio {
    width: 100% !important;
    border-bottom: 1px solid #292f39;
    cursor: pointer;
    padding: 10px 0;
}

.levelProject input {
    height: auto;
    margin: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #292f39;
    cursor: pointer;
}

.levelProject h4 {
    font-size: 100%;
}

.levelProject div {
    width: 33%;
}

.deadline-radios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;

    background-color: #090b0f;
    border-radius: 5px;
    outline: 2px solid #292f39;
}

.radio {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #292f39;
}

.radio label {
    cursor: pointer;
}

.radio input {
    display: inline;
    width: auto;
    height: auto;
    outline: none;
    cursor: pointer;
}

.element textarea {
    width: 100%;
    background-color: #090b0f;
    border-radius: 5px;
    outline: 2px solid #292f39;
    color: white;
}

.foonting {
    width: 100%;
    text-align: end;
    padding-right: 3%;
}

.foonting button {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 15px 35px;
}

.foonting button:hover {
    opacity: 0.8;
}